# Processamento inicial dos dados e construção de um CSV legível

## File Opening and variables setup

In [ ]:
import re
import pandas as pd

In [ ]:
data = open('PNS_2019.txt')
dic = pd.read_excel('dicionario.xls', dtype = str)

In [ ]:
sizes = dic[~dic['size'].isna()]
#sizes = sizes.size

In [ ]:
sizes = sizes['size'].values.tolist()
regex = ''
for size in sizes:
    regex += "(.{"+str(size)+"})"
regex

## Line Reader Method
reads a single line from the file and returns a list containing the distinct fields

In [ ]:
def line_reader(string):
    result = re.search(regex, string)
    output = ",".join(result.groups())
    return output+"\n"

## File Printer Method
takes the lines from the original dataset and after processing it with the line_reader() method, appends it to the output file

In [ ]:
def file_printer():
    lines = data.readlines()
    i=0

    f = open('PNS_2019.csv', 'a')
    #writer = csv.writer(f)
    for line in lines:
        i+=1
        print(i)
        row = line_reader(line)
        f.write(row)
        #writer.write(row)
    f.close()

In [ ]:
file_printer()

In [ ]:
names = dic[~dic['code'].isna()]
#name = sizes['code'].values.tolist()
#print(names['code'].duplicated().first)
names = names.loc[~names['code'].duplicated(keep='first')]
file = pd.read_csv('PNS_2019.CSV', header=None, names=names['code'])

In [ ]:
file.to_csv('PNS_2019.csv')

# Preprocessamento

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
file = pd.read_csv('PNS_2019.csv')
dic = pd.read_excel('pre_proc_dicionario.xls')

MemoryError: Unable to allocate 2.36 GiB for an array with shape (1079, 293726) and data type object

## Criação da base de dados reduzida
Comentado para não substituir o dataset sem espaços

In [3]:
codes = dic.code.dropna()
pos_raw_base = file[dic.code.dropna().tolist()]
pos_raw_base.to_csv('pre_proc_dataset.csv')

## Exploração dos atributos categóricos

In [4]:
pos_raw_base.head()

,V0001,C006,P00901,P01101,P013,P015,P02001,P02101,P01601,P018,...,Q11007,Q11008,Q11009,N00101,P035,Q00201,Q060,Q111,C00703,Q031
0,11,2,1,3,6,3,7,2,0,3,...,,,,3,1,1,1,,1963,
1,11,1,,,,,,,,,...,,,,,,,,,1950,
2,11,1,,,,,,,,,...,,,,,,,,,1987,
3,11,1,,,,,,,,,...,,,,,,,,,9999,
4,11,2,,,,,,,,,...,,,,,,,,,9999,

In [5]:
pos_raw_base.describe()

               V0001
count  293726.000000
mean       28.844716
std        11.762108
min        11.000000
25%        21.000000
50%        27.000000
75%        35.000000
max        53.000000

In [6]:
pos_raw_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293726 entries, 0 to 293725
Data columns (total 36 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V0001   293726 non-null  int64
 1   C006    293726 non-null  object
 2   P00901  293726 non-null  object
 3   P01101  293726 non-null  object
 4   P013    293726 non-null  object
 5   P015    293726 non-null  object
 6   P02001  293726 non-null  object
 7   P02101  293726 non-null  object
 8   P01601  293726 non-null  object
 9   P018    293726 non-null  object
 10  P02002  293726 non-null  object
 11  P02102  293726 non-null  object
 12  P023    293726 non-null  object
 13  P02401  293726 non-null  object
 14  P02501  293726 non-null  object
 15  P02602  293726 non-null  object
 16  P02601  293726 non-null  object
 17  P006    293726 non-null  object
 18  Q03001  293726 non-null  object
 19  W00101  293726 non-null  object
 20  W00102  293726 non-null  object
 21  W00103  293726 non-null  object
 22  W00201  293726 non-null  object
 23  W00202  293726 non-null  object
 24  W00203  293726 non-null  object
 25  Q092    293726 non-null  object
 26  Q11007  293726 non-null  object
 27  Q11008  293726 non-null  object
 28  Q11009  293726 non-null  object
 29  N00101  293726 non-null  object
 30  P035    293726 non-null  object
 31  Q00201  293726 non-null  object
 32  Q060    293726 non-null  object
 33  Q111    293726 non-null  object
 34  C00703  293726 non-null  object
 35  Q031    293726 non-null  object
dtypes: int64(1), object(35)
memory usage: 80.7+ MB

## Correção dos tipos dos dados pre processados

In [7]:
with open('pre_proc_dataset.csv', 'r') as f:
    txt = f.read().replace(' ', '')

with open('pre_proc_dataset.csv', 'w') as f:
    f.write(txt)

pos_raw_base = pd.read_csv('pre_proc_dataset.csv')
pos_raw_base=pos_raw_base.drop(pos_raw_base.columns[0], axis=1)
pos_raw_base.to_csv('pre_proc_dataset.csv')
print(pos_raw_base.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293726 entries, 0 to 293725
Data columns (total 36 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V0001   293726 non-null  int64
 1   C006    279382 non-null  float64
 2   P00901  90846 non-null   float64
 3   P01101  90846 non-null   float64
 4   P013    90846 non-null   float64
 5   P015    90846 non-null   float64
 6   P02001  90846 non-null   float64
 7   P02101  30696 non-null   float64
 8   P01601  90846 non-null   float64
 9   P018    90846 non-null   float64
 10  P02002  90846 non-null   float64
 11  P02102  41184 non-null   float64
 12  P023    90846 non-null   float64
 13  P02401  63104 non-null   float64
 14  P02501  90846 non-null   float64
 15  P02602  90846 non-null   float64
 16  P02601  90846 non-null   float64
 17  P006    90846 non-null   float64
 18  Q03001  84073 non-null   float64
 19  W00101  6569 non-null    float64
 20  W00102  6569 non-null    float64
 21  W00103  6730 non-null    float64
 22  W00201  6561 non-null    float64
 23  W00202  6561 non-null    float64
 24  W00203  6730 non-null    float64
 25  Q092    90846 non-null   float64
 26  Q11007  4905 non-null    float64
 27  Q11008  4905 non-null    float64
 28  Q11009  4905 non-null    float64
 29  N00101  90846 non-null   float64
 30  P035    36398 non-null   float64
 31  Q00201  88736 non-null   float64
 32  Q060    82881 non-null   float64
 33  Q111    4905 non-null    float64
 34  C00703  279382 non-null  float64
 35  Q031    7101 non-null    float64
dtypes: float64(35), int64(1)
memory usage: 80.7 MB
None

# renaming

In [ ]:
names = dic[~dic['name'].isna()]
names = names.loc[~names['name'].duplicated(keep='first')]
pos_raw_base.set_axis(names, axis=1, inplace=True)